h1= 'Ingresa la info del producto'
br
form(action="/productos" method="post")
    label(for="title")= 'Nompre producto:'
    input(type="text" id='title' name='title')
    br
    br
    label(for="price")= 'Precio:'
    input(type="number" id='price' name='price')
    br
    br
    label(for="thumbnail")= 'Foto:'
    input(type="text" id='thumbnail' name='thumbnail')
    br
    br
    button(type='submit')= 'Enviar'