h1= 'Productos'
if (productos.length > 0)
    table 
        tr 
            th='Nombre producto'
            th='Precio'
            th='Foto'
        each producto in productos
            tr 
                td=producto.title 
                td=producto.price 
                td 
                    img(src=producto.thumbnail style="width:70px;height:90px;")
else 
    h3='No hay productos'

